#!/usr/bin/make -f

# Verbose mode
export DH_VERBOSE=1
export DH_OPTIONS=-v

PKG_DIR=$(CURDIR)/debian/stackops-agent/
LIB_DIR=$(PKG_DIR)/var/lib/stackops/

%:
	dh $@

override_dh_install:
	dh_install
	chmod 700 $(LIB_DIR)/*.sh
	rm $(LIB_DIR)/*Test.py $(LIB_DIR)/build.sh $(LIB_DIR)/config.sh

override_dh_clean:
	rm -fr stackops.egg-info
	dh_clean
